@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.cdnfonts.com/css/miama");

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.miama-normal {
  font-family: "Miama", sans-serif;
  font-weight: normal;
  font-size: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #222;
  color: #fff;
}

html {
  width: 90%;
  margin: 0 auto;
}

body {
  margin-left: auto;
  margin-right: auto;
}

p, li a {
  color: rgba(255, 255, 255, 0.5);
}

/* Navigation bar Styles */
.container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .logo {
  color: rgba(230, 83, 60, 1);
  font-size: 36px;
  font-weight: 800;
}

header {
  padding: 1em 0;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 2em;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

.banner {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-02 {
  position: relative;
}

.banner-01 h1,
p {
  margin-bottom: 28px;
}

.banner-01 h1 {
  font-size: 78px;
  font-weight: 900;
}

.banner-01 span {
  font-size: 78px;
}

.btn {
  border: none;
  padding: 1em 2em;
  border-radius: 2em;
  margin-right: 0.8em;
  background-color: rgb(230, 83, 60);
}

.btn-normal {
  border: none;
  padding: 1em 2em;
  border-radius: 2em;
  margin-right: 0.8em;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.banner-btn-01 {
  position: absolute;
  width: 8em;
  height: 6em;
  right: 0.5em;
  top: 10em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
}

.banner-btn-02 {
  position: absolute;
  width: 8em;
  height: 6em;
  bottom: 0.5em;
  left: 0.2em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
}


.section-01 {
  text-align: center;
}

section h2 {
  margin-bottom: 1em;
}

section p {
  margin-bottom: 2em;
}

.flex-container {
  display: flex;
}

.flex-container img {
  border-radius: 50%;
  margin-bottom: 1em;
}

.flex-container h3 {
  margin-bottom: 0.5em;
}

.section-02 {
  border-radius: 1.1em;
  background: rgba(34, 34, 34, 0.5);
}

.flex-container-02 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container-02 .runner-text {
  /* flex: 1 1 50%; */
  margin-right: 40%;
}

.flex-container-02 .runner-image {
  /* flex: 1 1 50%; */
}

.flex-container-02 .runner-image img {
  border-radius: 1.1em;
}

.flex-container-02 .runner-text h2 {
  margin-bottom: 10px;
}

.flex-container-02 .runner-text p {
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

[class*="grid-item-0"] img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.grid-item-01 {
  grid-column: 1 / span 2;
  position: relative;
  background: linear-gradient(rgba(6, 255, 210, 0.5), rgba(255, 255, 255, 0.5)), url("../images/Exercise\ 1.jpg");
  background-size: cover;
}

.text-overlay-01 {
  position: absolute;
  top: 157px;
  left: 5%;
  background-color: unset;
}

.grid-item-02 {
  grid-column: 3 / span 2;
  position: relative;
  background: linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 255, 255, 0.5)), url("../images/Exercise\ 2.png");
  background-size: cover;
}

.text-overlay-02 {
  position: absolute;
  top: 40px;
  left: 5%;
}


.grid-item-03 {
  grid-column: 5 / span 2;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
}

.text-overlay-03 {
  position: absolute;
  top: 157px;
  left: 5%;
}

.grid-item-04 {
  grid-column: 1 / span 2;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), url("../images/Exercise\ 4.png");
  background-size: cover;
}

.text-overlay-04 {
  position: absolute;
  top: 25px;
  left: 60%;
}


.grid-item-05 {
  grid-column: 3 / span 2;
  position: relative;
  background: linear-gradient(rgba(66, 255, 0, 0.3), rgba(255, 255, 255, 0.5)), url("../images/Exercise\ 5.jpg");
  background-size: cover;
}

.text-overlay-05 {
  position: absolute;
  top: 157px;
  left: 5%;
}


.grid-item-06 {
  grid-column: 5 / span 2;
  position: relative;
  background: linear-gradient(rgba(0, 71, 255, 0.3), rgba(255, 255, 255, 0.5));
  background-size: cover;
}

.text-overlay-06 {
  position: absolute;
  top: 157px;
  left: 5%;
}


[class*="section-"] {
    margin-bottom: 100px;
}


.bmi-container {
  display: flex;
  flex-direction: column;
}


.bmi-title h3 {
    font-size: 35px;
}

.bmi-title {
    text-align: ;
}


.bmi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.bmi-status {
    /* flex: 50%; */
    margin-right: 40%;
}

.bmi-calculate {
  /* flex: 50%; */
} 

table {
  width: 19em;
  height: 13.5em;
}

.bmi-status table th, td {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.3em;
}

.bmi-status table th {
    font-size: 16px;
    font-weight: medium;
}



.bmi-calculate h3 {
  margin-bottom: 14px;
}

.bmi-calculate p {
  margin-bottom: 38px;
}

.bmi-status table td {
    color: rgba(255, 255, 255, 0.5);
}

.bmi-status h3 {
  margin-bottom: 40px;
}

input, select {
    width: 17em;
    height: 3em;
    padding-left: 10px;
    margin-bottom: 12px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.1);
}


.team-title {
  text-align: center;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

/* [class*="team-grid-0"] img {
  width: 100%;
  height: 250px;
  object-fit: cover;
} */

.team-grid-01 {
  grid-column: 1 / span 2;
  position: relative;
  background-image: url("../images/trainer1.png");
  background-size: cover;
}



.team-grid-02 {
  grid-column: 3 / span 2;
  position: relative;
  background-image: url("../images/trainer2.png");
  background-size: cover;
}

.team-grid-03 {
  grid-column: 5 / span 2;
  position: relative;
  background-image: url("../images/trainer3.png");
  background-size: cover;
}

.team-grid-04 {
  grid-column: 1 / span 2;
  position: relative;
  background-image: url("../images/trainer4.png");
  background-size: cover;
}

.team-grid-05 {
  grid-column: 3 / span 2;
  position: relative;
  background-image: url("../images/trainer5.png");
  background-size: cover;
}

.team-grid-06 {
  grid-column: 5 / span 2;
  position: relative;
  background-image: url("../images/trainer6.png");
  background-size: cover;
} 

.team-grid-text {
  position: absolute;
  top: 157px;
  left: 5%;
  background-color: unset;
}



.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer-link-01 ul, .footer-link-02 ul {
  list-style-type: none;
}

.footer-link-01 ul a, .footer-link-02 ul a {
  text-decoration: none;
}

.footer-logo h3 {
  font-size: 70px;
  font-weight: 700;
  color: rgba(230, 83, 60, 1);
  margin-bottom: 30px;
}


.footer-link-01 h4, .footer-link-02 h4 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}

.footer-link-01 ul li, .footer-link-02 ul li {
  margin-bottom: 15px;
}

.footer-link-01 ul:last-child(), .footer-link-02 ul:last-child() {
  margin-bottom: 0;
}


hr {
  border-color: rgba(255, 255, 255, 0.1);
  border-width: 2px;
}

.footer-copy {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin: 36px 0;
}





@media screen and (max-width: 576px) {

  .bmi, .flex-container-02, .flex-container, .banner, header nav ul, .container, .footer-container {
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
    overflow: auto;
  }

  .flex-container-02 .runner-text, .runner-image {
    margin-bottom: 30px;
  }

  .bmi-title h3, p{
    text-align: start;
    margin: 20px 20px 20px 0px;
  }

  .bmi-status, .bmi-calculate {
    flex: 100%;
    margin-bottom: 50px;
  }

  .bmi-status h3 {
    text-align: start;
  }

  hr {
    width: 100%;
  }

}